.radio-buttons input[type="radio"] {
    font-size: 18px;
}
div.selected-radio-buttons {
    font-size: 18px;
    margin-top: 15px;
}

.sha {
    color: red;
    font-size: 18px;
}

.message {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.author {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.commit-date {
    font-size: 18px;
    color: black;
    font-weight: bold;
}